body {
    background-color: #0e1117;
}

.sidebar .sidebar-title {
    color: #7fe57f;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}

.sidebar .sidebar-sub {
    color: #ccc;
    text-align: center;
    margin-bottom: 10px;
    font-size: 14px;
}

.title-main {
    font-size: 45px;
    font-weight: 800;
    color: #81f7a3;
}

.subtitle {
    color: #aaa;
    font-size: 17px;
    margin-top: -10px;
}

.main-card {
    background: #161b22;
    padding: 35px;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 20px rgba(0,255,150,0.08);
}

.pred-title {
    font-size: 32px;
    font-weight: 700;
    color: #81f7a3;
}

.pred-sub {
    font-size: 18px;
    color: #ccc;
}

.top5-title {
    font-size: 22px;
    color: #81f7a3;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 600;
}

.top5-card {
    background: #111418;
    padding: 12px;
    border-radius: 12px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

.top5-label {
    color: #ddd;
    font-size: 16px;
}

.top5-conf {
    color: #81f7a3;
    font-weight: 600;
}
