
body, .main, .block-container {
    background-color: #0c0f14 !important;
    color: #ffffff !important;
}


[data-testid="stSidebar"] {
    background-color: #0a0d10 !important;
}

[data-testid="stSidebar"] * {
    color: #eaeaea !important;
    font-size: 20px !important;
    font-weight: 600 !important;
}

/* Sidebar selected item */
[data-testid="stSidebar"] .css-1v3fvcr, 
[data-testid="stSidebar"] .css-1v3fvcr:hover {
    background-color: #1a1f24 !important;
    border-radius: 10px !important;
    color: #ffffff !important;
}

/* Main titles */
.title-main {
    font-size: 52px;
    font-weight: 800;
    color: #ffffff;
    text-align: center;
}

.subtitle {
    font-size: 20px;
    color: #bbbbbb;
    text-align: center;
    margin-top: -8px;
    margin-bottom: 25px;
}

/* Upload area */
.css-1n76uvr, .css-1n76uvr * {
    background-color: #15191e !important;
    color: white !important;
}


.main-card {
    background-color: #151a1f;
    padding: 35px;
    border-radius: 18px;
    margin-bottom: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.6);
}

/* Prediction text */
.pred-title {
    font-size: 32px;
    font-weight: 700;
    color: #ffffff;
}

.pred-sub {
    font-size: 18px;
    color: #d2d2d2;
}


.top5-title {
    font-size: 22px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 12px;
}

.top5-card {
    background: #101317;
    padding: 12px 15px;
    border-radius: 12px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

.top5-label {
    color: #ffffff;
    font-size: 16px;
}

.top5-conf {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
}

/* Buttons */
button, .stButton>button {
    background-color: transparent !important;
    color: #ffffff !important;
    border: 1px solid #ffffff !important;
    border-radius: 10px !important;
    padding: 8px 18px !important;
}

button:hover, .stButton>button:hover {
    background-color: #ffffff !important;
    color: #000000 !important;
}


input, textarea {
    background-color: #1b1f26 !important;
    color: #ffffff !important;
    border: 1px solid #444 !important;
}


.css-1cpxqw2, .css-1cpxqw2 * {
    background-color: #15191e !important;
    color: #ffffff !important;
}

/* File uploader drag area */
[data-testid="stFileUploadDropzone"] {
    background-color: #15191e !important;
    border: 2px dashed #3c424a !important;
}

[data-testid="stFileUploadDropzone"] * {
    color: #ffffff !important;
}
